.App {
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sec1, .sec2, .sec3, .sec4, .sec5, .sec6 {
 color: orange;
 font-size:50px;
 text-align: center;
 border: 5px solid rgb(74, 189, 74);
 padding-top:3px;
 border-radius: 5px;
 margin: 10px;
 width: 50px;
} 
.watch {
  padding-top: 2px;
  text-align: center;
  color: orange;
  font-size:50px;
  border: 5px solid rgb(74, 189, 74);
  border-radius: 5px;
  margin: 10px;
  width: 80px;
}
.c {
  font-size:80px;
  color:rgb(255, 255, 255);
  text-align: center;
}
.stopButom{
  width: 100%;
  height: 70px;
  border: 5px;
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 15%;
}